<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button *ngIf="canGoBack"></ion-back-button>
    <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="presentProfileMenu()"><ion-icon icon='more'></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="user">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col no-padding>
        <div class="header profile-page">
          <div class="header-background"></div>
          <div class="header-content">
            <app-profile-comp></app-profile-comp>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-list-header margin-top>
              {{ 'profile.title.contacts' | translate }}
            </ion-list-header>

            <ion-col size="3" *ngFor="let contact of user.user_contacts">
              <ion-button [href]="contact.contacts_type.mask ? contact.contacts_type.mask.replace('#VALUE#', contact.value) : contact.value"
                  target="_blank" expand="full" [class]="'btn-contact ' + contact.contacts_type.type">
                <ion-icon size="large" slot="icon-only" [className]="contact.contacts_type.type"
                 [name]="contact.contacts_type.icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="user.bio">
            <ion-list-header margin-top>
              {{ 'profile.title.bio' | translate }}
            </ion-list-header>
            <ion-col no-padding>
              <ion-card>
                <ion-card-content>
                  {{ user.bio }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
