ion-toolbar {
  --background: linear-gradient(135deg, #32965D, #8CBC3C);
}
ion-toolbar, ion-buttons, ion-menu-button {
  color: #F7F7F7;
  --ion-toolbar-color: #F7F7F7;
  --color: #F7F7F7;
}

ion-list-header {
  font-size: 16px;
  min-height: 25px;
}

ion-button.btn-reward {
  height: 60px;

  &.next-step {
    --background: #F2941B;
    margin: 5px -10px;
  }
}

ion-card {
  box-shadow: none !important;
  --background: #FFF;
}
