ion-toolbar {
  --background: linear-gradient(135deg, #32965D, #8CBC3C);
}
ion-toolbar, ion-buttons, ion-menu-button {
  color: #F7F7F7;
  --ion-toolbar-color: #F7F7F7;
  --color: #F7F7F7;
}

.reward-item {
  &.glyph {
    ion-label {
      font-size: 12px;
      color: #555;
      text-align: center;
      display: block;
      padding-top: 5px;
    }
  }

  &.next-step {
    height: 60px;
    --background: #ffcc35;
    color: #555;
    --box-shadow: 0;
    margin: 5px -10px;
  }
}

ion-card {
  box-shadow: none !important;
  --background: #FFF;
}

#map_container {
  height: 250px;
}
