<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.titles.profilePicture' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button><label for="submit"><ion-icon icon='save' size="large"></ion-icon></label></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()">
    <input type="submit" id="submit" value="Submit" style="display:none"/>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-padding-top">
            <ion-card-content>
              <div>
                <image-cropper
                  *ngIf="imageFile"
                  [imageBase64]="imageFile"
                  cropperMinWidth="250"
                  resizeToWidth="250"
                  roundCropper="true"
                  (imageCropped)="imageCropped($event)"
                ></image-cropper>
              </div>

              <input id="inputcamera" type="file" accept="image/*" capture="camera" class="custom-fileinput"
                     #inputcamera/>
              <label for="inputcamera">
                <ion-icon slot="start" name="camera"></ion-icon>
                {{ 'editPicture.btn.selectImage' | translate }}
              </label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
