ion-toolbar {
  --background: linear-gradient(135deg, #5B56C2, #6763db);
}
ion-toolbar, ion-buttons, ion-menu-button {
  color: #F7F7F7;
  --ion-toolbar-color: #F7F7F7;
  --color: #F7F7F7;
}
ion-card {
  box-shadow: none !important;
  --background: #FFF;
  ion-card-content {
    padding-top: 0px;
  }
}
ion-item {
  --background: #FFF;
  --padding-start: 0;
  --ion-safe-area-left: 0;
}

.custom-fileinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    color: #333;
    background-color: white;
    display: block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    font-size: 18px;
    line-height: 30px;
    border-radius: 3px;

    ion-icon {
      position: relative;
      font-size: 20px;
      top: 3px;
      padding-right: 10px;
    }
  }
}
