<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'app.titles.events' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding="">
    <div *ngIf="!current">
      <ion-row no-padding>
        <ion-col sizeMd="6" pushMd="3">
          <ion-card>
            <ion-card-content>
              {{ 'quests.no-quests' | translate }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="current">
      <ion-row no-padding>
        <ion-col sizeMd="6" pushMd="3" no-padding *ngIf="current">
          <ion-list-header margin-top>
            {{ 'quests.current' | translate }}
          </ion-list-header>

          <ion-card class="current" (click)="goQuest(current.id)">
            <ion-card-content no-padding [class]="current.quest_route.quest.theme"
              [ngStyle]="{'background-image': 'url(' + imagePath + current.quest_route.quest_id + '/' +
              current.quest_route.quest.image.replace('###', 'full') + ')'}">
              <ion-label>{{ current.quest_route.quest.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <div *ngIf="quests && quests.length">
        <ion-row no-padding>
          <ion-col sizeMd="6" pushMd="3" no-padding>
            <ion-list>
              <ion-list-header margin-top>
                {{ 'quests.past' | translate }}
              </ion-list-header>
            </ion-list>

            <ion-card class="past" margin-bottom (click)="goQuest(quest.id)" *ngFor="let quest of quests"
              [class]="quest.quest_route.quest.theme"
              [ngStyle]="{'background-image': 'url(' + imagePath + quest.quest_route.quest_id + '/' + quest.quest_route.quest.image + ')'}">
              <ion-card-content no-padding>
                <ion-label>{{ quest.quest_route.quest.name }}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>
