ion-list-header {
  font-size: 16px;
  min-height: 25px;
}
ion-card {
  background: #FFF;
}

ion-label {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  margin-top: -40px;
  padding-bottom: 5px;
  padding-left: 10px;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: linear-gradient(transparent, #0000008a);
    z-index: -1;
  }
}

ion-card.past {
  height: 100px;
  background-image: url(//furquest.lh/storage/quests/1/500.jpeg);
  background-size: cover;
  background-position: center;

  ion-label {
    font-size: 18px;
    margin-top: 65px;
    padding-bottom: 10px;
  }
}