ion-buttons {
  margin-bottom: -50px;
  color: #FFF;
}
.header {
  padding-top: 35px;
  padding-bottom: 50px;
  background: linear-gradient(135deg, #5B56C2, #88498D);
  color: #FFF;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border-left: 1000px solid transparent;
    border-bottom: 80px solid #F5F5F5;
  }
}

ion-list-header {
  font-size: 16px;
  min-height: 25px;
}