ion-buttons {
  margin-bottom: -50px;
}
ion-buttons, ion-menu-button {
  color: #F7F7F7;
  --ion-toolbar-color: #F7F7F7;
  --color: #F7F7F7;
}

.header {
  padding-top: 20px;
  padding-bottom: 45px;
  background: linear-gradient(135deg, #5B56C2, #88498D);
  color: #F7F7F7;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border-left: 1000px solid transparent;
    border-bottom: 80px solid #F7F7F7;
  }
}
