<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.titles.changePassword' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button><label for="submit"><ion-icon icon='save' size="large"></ion-icon></label></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="save()">
    <input type="submit" id="submit" value="Submit" style="display:none"/>

    Under Development
  </form>
</ion-content>
