<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.titles.changePassword' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button><label for="submit"><ion-icon icon='save' size="large"></ion-icon></label></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePasswordForm" (submit)="save()">
    <input type="submit" id="submit" value="Submit" style="display:none"/>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'profileEdit.password.new' | translate }}</ion-label>
            <ion-input type="password" formControlName="newPassword" id="newPassword" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'profileEdit.password.confirm' | translate }}</ion-label>
            <ion-input type="password" formControlName="confirmPassword" id="confirmPassword" required></ion-input>

          </ion-item>
          <div class="error-message" *ngIf="changePasswordForm.hasError('passwordNotMatch')">
            {{ 'profileEdit.password.error' | translate }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
