<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <button (click)="dismissModal(false)" [ngClass]="{contrast: showClose}">
        <ion-icon icon="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <h3 text-center padding-horizontal [class]="'cbbl ' + tip.tip.character">
    <span>
      <teximate [text]="tip.tip.content" [enter]="enterAnimation" (finish)="showClose = true"></teximate>
    </span>
  </h3>
  <span [class]="'sprite ' + tip.tip.character"></span>
</ion-content>

<!--<ion-footer no-border *ngIf="showClose">-->
<!--  <ion-button (click)="dismissModal(false)" expand="full" fill="solid" color="tertiary"-->
<!--    text-center size="large" no-margin>-->
<!--    {{ 'app.btn.close' | translate }}-->
<!--  </ion-button>-->
<!--</ion-footer>-->
